@charset "utf-8";

/*
* [meui文字上下滚动]
* Author: Mufeng
* Date: 2020.12.13
* Update: 2020.12.29
*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box;
    outline: none;
}
.scrollbox h3,
.scrollbox ul,
.scrollbox li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.scrollCaption{
    padding: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

#scrollDiv {
    width: 340px;
    height: 359px;
    overflow: hidden;
}

/*这里的高度和超出隐藏是必须的*/
#scrollDiv li {
    /*width: 300px;
    height: 90px; */
    width: auto;
    height: auto;
    padding: 0 20px 15px 20px;
    background: url('../img/tscroll_ico_4.gif') no-repeat 10px 23px;
    overflow: hidden;
    vertical-align: bottom;
    zoom: 1;
    border-bottom: 1px #e4e4e4 dashed;
}

#scrollDiv li h3 {
    /*width: 300px;*/
    width: auto;
    height: 24px;
    padding-top: 13px;
    font-size: 14px;
    /*color: #353535;*/
    color: #416A7F;
    line-height: 1.75;
}

#scrollDiv li h3 a {
    color: inherit;
    text-decoration: none
}

#scrollDiv li h3 a:hover {
    color: #F00
}

#scrollDiv li span.time{
    display: block;
    margin-top: 15px;
    color: #999;
    font-size: 12px;
}
#scrollDiv li div {
    /* width: 300px;
    height: 36px; */
    width: auto;
    height: auto;
    margin-top: 5px;
    color: #666;
    line-height: 1.5;
    font-size: 12px;
    overflow: hidden;
}

#scrollDiv li div a {
    color: #416A7F;
    text-decoration: none
}

.scroltit {
    height: 26px;
    line-height: 26px;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.scroltit h3 {
    width: 100px;
    float: left;
}

.scroltit .updown {
    float: right;
    width: 32px;
    height: 22px;
    margin-left: 4px
}

.scroltit .up {
    background: url('../img/tscroll_up.gif') no-repeat 0 0;
    text-indent: -9999px
}

.scroltit .down {
    background: url('../img/tscroll_down.gif') no-repeat 0 0;
    text-indent: -9999px
}